<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Hotel Moconá</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://kit.fontawesome.com/cc20cd012e.js" crossorigin="anonymous"></script>
</head>

<body class="home-container">
    <header>
        <!--Logo de la empresa
            El menú de navegación        
            Una pequeña descripción de la web-->
        <!-- Encabezado -->
        <a href="#" class="logo">
            <img src="/img/logo.png" alt="logo">
            <h2 class="titulo">Vivi la Selva</h2>
        </a>
        <!-- Fin Encabezado -->

    </header>
    <!--Menu  -->
    <nav>
        <ul>
            <li><a href="/" class="nav-link">Inicio</a></li>
            <li><a href="/habitaciones" class="nav-link">Habitaciones</a>
            <li>
            <li> <a href="/servicios" class="nav-link">Servicios</a>
            <li>
            <li><a href="/turismo_accesible" class="nav-link">Turismo Accesible</a>
            <li>
            <li><a href="/galeria" class="nav-link">Galeria</a>
            <li>

        </ul>

    </nav>
    <!--Slider y cuerpo de pagina  -->
    <section class="presentacion">

        <div class="slider">
            <img src="./img/home1.jpeg" alt="Imagen del Hotel">
        </div>

        <!--Tarjetas 3 columnas con imagenes y texto del Home-->
        <div class="title-cards">
            <h2>Servicios que Ofrecemos</h2>
        </div>
        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="/img/cabanas.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>Ecosuites</h3>
                    <p>Cabaña para 8 pasajeros, accesibles para gente con movilidad reducida!</p>
                    <a href="#">Leer Màs</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="/img/cabanas2.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>Mastersuites</h3>
                    <p>Ideal para parejas, o parejas con uno ó dos niños. Superficie: 40 m². Categoría Confort. Terraza
                        con vista al río. Garage cubierto.</p>
                    <a href="#">Leer Màs</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="/img/cabanas3.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>Standards</h3>
                    <p>Ideal para parejas, amigos o viajeros solitarios. Superficies desde 22 m².
                        Categoría Standard. Galería con vista al río. Garage cubierto.</p>
                    <a href="#">Leer Màs</a>
                </div>
            </div>
        </div>


        <div class="texto-presentacion">
            <h2>Cerca de todo... Lejos del estrés</h2>
            <h3>EL ESCENARIO PERFECTO PARA COMENZAR Y FINALIZAR TUS DÍAS EN MOCONÁ</h3>
            <p>Hotel Mocona Misiones es lo rústico, una vuelta al origen, a lo primitivo, a lo salvaje.
                Es la magia y el espíritu de la selva combinando lo virgen de la selva misionera y el espíritu de
                aventura con el cálido confort de la madera y naturaleza autoctona, diseñadas exclusivamente para que
                nuestros huéspedes disfruten al maximo de la naturaleza. Ademas somos el unico hotel de la provincia que
                cuenta con habitaciones adaptadas para huespedes con necesidades especificas generando asi una
                experiencia unica de turismo accesible.</p>
        </div>
    </section>
    <section class="formulario-consulta">
        <form action="/reservas1" method="post" class="Consulta"></form>
        <h4>Consultá precios y fechas disponibles</h4>
        <li>
            <ul><label for="fechaEntrada">Fecha Entrada:</label>
                <input type="date" name="fechaEntrada" id="fechaEntrada" placeholder="Fecha Entrada" required>
            </ul>
            <ul><label for="fechaSalida">Fecha Salida:</label>
                <input type="date" name="fechaSalida" id="fechaSalida" placeholder="Fecha Salida" required>
            </ul>
            <ul><label for="cantidadHuespedes">Cantidad de Huespedes:</label>
                <select name="cantidadHuespedes" id="cantidadHuespedes" placeholder="Cantidad de Huespedes" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </ul>
            <ul><label for="necesidadEspecifica">Marca la necesidad especifica que necesitas para que tengamos en
                    cuenta:</label>
                <select name="necesidadHuespedes" id="necesidadHuespedes" placeholder="Necesidad Especifica" required>
                    <option value="motriz">Motriz</option>
                    <option value="visual">Visual</option>
                    <option value="auditiva">Auditiva</option>
                    <option value="sensorial">Sensorial</option>
                    <option value="cognitiva">Cognitiva</option>
                    <option value="ninguna">Ninguna</option>
                </select>
            </ul>
            <button type="sumbit">Consultar</button>
        </li>
    </section>

    <section class="mapa">
        <div class="ubicacion">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28364.790486987153!2d-54.210223!3d-27.294442!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f97bc76f883b4f%3A0x9bcf0c1d27b64565!2sEl%20Soberbio%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1657056446679!5m2!1ses-419!2sar"
                 width="1000" height="350" style="border:0;" allowfullscreen="" loading="lazy" 
                 referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            </div>
            <div class="texto-ubicacion">
                <h4>Ubicación Privilegiada</h4>
                <p>Estamos estratégicamente emplazados en la costa del río en pleno centro urbano de El Soberbio,
                    denominado “El Portal del Moconá” por tratarse del último poblado antes de ingresar en la Biósfera
                    Yabotí, donde se encuentran el Parque Provincial Moconá.
                    El lodge posee acceso por avenida asfaltada, y su ingreso se ubica a sólo doscientos metros de la
                    terminal de ómnibus local, donde arriban líneas de ómnibus de larga distancia procedentes de todo el
                    país; y a pocos metros de la oficina de informes turísticos, de la costanera y del centro comercial
                    de El Soberbio.
                    La opción ideal para quienes buscan relax y contacto con la naturaleza, pero estando siempre
                    comunicados, ya que disponemos de wi.fi y señal de telefonía celular en todo el lodge</p>
            </div>
        </div>
    </section>
    <!--Pie de Pagina  -->
    <section class="experienciaUsuario">
        <div id="container">
            <ul class="slider">
                <li id="slide1">
                    <p>"Muy buenas cabañas, atencion excelente lo unico malo para criticar es el baño la bañadera de la
                        cabaña exploradores, era muy alta y se complicaba para pasarnos a la silla ya que fuimos dos
                        personas discapacitadas pero despues todo hermoso"</p>
                </li>
                <li id="slide2">
                    <p>"Hermoso por donde se lo mire. El personal siempre atento y predispuesto. Nos encantaron las
                        instalaciones, la construccion, la ubicacion, Todo perfecto. Riquisima la cena, abundante y muy
                        sabrosa. Volveremos y lo recomendaremos a todos. Para visitar la zona lo mejor es alojarse en
                        Hotel Mocona""</p>
                </li>
                <li id="slide3">
                    <p>"El hotel se encuentra en una ubicación para mi gusto muy buena, ya que permite acceder al centro
                        o a los Saltos sin necesidad de agarrar el tráfico."</p>
                </li>
            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>
            </ul>

        </div>
    </section>


    <footer>
        <div class="pie-pagina">
            <div class="grupo1">
                <div class="box">
                    <h2>CONTACTO</h2>
                    <p>+54 3755-000000</p>
                    <p>reservas@hotelmocona.com.ar</p>
                    <p>RP N°2 km 35</p>
                </div>
                <div class="box">
                    <h2>Menu</h2>
                    <p><a href="/" class="nav-link">Inicio</a></p>
                    <p><a href="/habitaciones" class="nav-link">Habitaciones</a></p>
                    <p><a href="/servicios" class="nav-link">Servicios</a></p>
                    <p><a href="/turismo_accesible" class="nav-link">Turismo Accesible</a></p>
                    <p><a href="/galeria" class="nav-link">Galeria</a></p>

                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa-brands fa-instagram"></a>
                        <a href="#" class="fa-brands fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="grupo2">
                <small>&copy; 2022 <b>Hotel Mocona </b> - Todos los Derechos Reservados.</small>
            </div>
        </div>
        </div>

    </footer>
    <!--Fin Pie Pagina  -->
</body>

</html>