<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Moconá</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header></header>
    <section class="presentacion"> 
        <div class="titulo">
            <h2>Vivi la Selva</h2>
            <h1>Hotel Mocona</h1>
        </div>
        <div class="imagen">
            <img src="./img/imagen principal.jpeg" alt="Imagen del Hotel">
        </div>
    </section>      
    <footer>

    </footer>>
</body>
</html>