<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/cc20cd012e.js" crossorigin="anonymous"></script>

    <title>Politicas de Reserva</title>
</head>
<body>
    <header>
        <!--Logo de la empresa
            El menú de navegación        
            Una pequeña descripción de la web-->
        <!-- Encabezado -->
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="logo">
            <h2 class="titulo">Vivi la Selva</h2>
        </a>
    </header>
   <div id="bodyTextoPoliticas">
<!--empieza el texto de politicas de reserva-->
    <section class="textoPoliticasReserva">
    <h2 class="leer"> Políticas de reserva y cancelaciones</h2><br>
    <div class="cuerpoLeer">
    <p>La Solicitud de Reserva se puede hacer<p>
        <ul class="ultexto">
        <li>teléfono</li>
        <li>pagina web</li> 
        <li>mail</li> 
        </ul>
        <p>La confirmación será hecha por el hotel a traves de un mail.</p><br>
 
        <p>El Hotel Moconá responderá por mail<br> 
            la aceptación de solicitud <br>de la reserva informado:
            <ul class="ultexto">
                <li>los datos del huesped</li>
                <li>la fecha de ingreso y salida</li>
                <li>el costo total</li>
                <li>el costo de la reserva o el recibo de pago</li>  
                </ul>

    <br><h4>Para asegurar la reserva:</h4>
    <br><p>Tendrá que abonar el total del costo total de la reserva<br>
        las reservas se podran cancelar <strong>hasta dos meses antes </strong> la fecha de ingreso. <br>
        Si cancela con un mes de anticipacion se realiza la devolucion del dinero.<br>
        Si pago la reserva con tarjeta <br>
        el tiempo de devolucion será el que dispongan los bancos<br>
        El hotel Moconá no hace devoluciones de dinero en sus instalaciones<br>   
    </p>    
        
        <br><h4>Formas de pago:</h4><br>
    <p>Los pagos de la reserca se pueden hacer de las siguientes formas: <br>
    <ul class="ultexto">
        <li>en Pesos mediante depósito</li>
        <li>en Pesos mediante transferencia bancaria</li>
        <li>en pesos mediante pago con tarjeta de credito</li><br>
    </ul>
    Si no subió el comprobante en la página<br> 
    Debe enviar el comprobante e-mail<br>
    Escriba el nombre y apellido del huésped que paga la reserva.
</p><br>
    <h4> Cancelación:</h4><br>
    <p>Toda cancelación deberá ser enviada por mail.<br> 
        El Hotel confirmará la recepción de la cancelación.</p><br>
    
    <h4>Penalidades:</h4><br>
   <p> Se combra un penalidad si se cancela la reserva confirmada de la siguiente forma:</p>
    <ul>
    <li> 40 días antes de la fecha de ingreso el hotel cobra el 20 % del total de la reserva </li>
    <li> Hasta 30 dias anteriores a la fecha de ingreso el hotel cobra el 30 % sobre el total de la reserva</li>
    <li> A partir de los 20 dias antes de la fecha de ingreso el hotel cobra el 40 % del total de la reserva</li>
</ul>
    <br><p><strong>Informacion importante:<br></strong> Hotel Moconá no reconoce cambios ni devoluciones <br>sobre reservas confirmadas por:
        <ul> <li>inconvenientes aéreos</li> <li>inconvenientes terrestres</li> <li>condiciones climáticas.</li></ul></p>
    </section>
   </div>
   </div>
<!--termina el texto de politicas de reserva-->
<div class="politicasbotton"> 
    <input type="button" value="Continuar" class="Continuar"<a href="/register"></a>
</div>

<!--Pie Pagina  -->
<footer>
    <div class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <h2>CONTACTO</h2>
                <p>+54 3755-000000</p>
                <p>reservas@hotelmocona.com.ar</p>
                <p>RP N°2 km 35</p>
            </div>
            <div class="box">
                <h2>MENU</h2>
                <p><a href="/" class="nav-link">Inicio</a></p>
                <p><a href="/habitaciones" class="nav-link">Habitaciones</a></p>
                <p><a href="/servicios" class="nav-link">Servicios</a></p>
                <p><a href="/turismo_accesible" class="nav-link">Turismo Accesible</a></p>
                <p><a href="/galeria" class="nav-link">Galeria</a></p>

            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2022 <b>Hotel Mocona </b> - Todos los Derechos Reservados.</small>
        </div>
    </div>
    </div>

    </footer>



</body>
</html>