<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
        <li><a href="/"></i>Volver al incio <i class="far fa-id-card"></i></a></li>
</head>
<body>   
    <header>
        <!--Logo de la empresa
            El menú de navegación        
            Una pequeña descripción de la web-->
        <!-- Encabezado -->
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="logo">
            <h2 class="titulo">Vivi la Selva</h2>
        </a>
    </header>
 <div id="bodyRegister">
       <section id ="registerHeader" >
        <p>Completá tu reserva</p><br>
        <p>registrate</p><br>
        <p>accedé a nuestras promociones</p> 
        </section>
    
        <section class="contMadreRegistro">
        <form action="/" method="post" class="registro">
            <div>
            <p><br>
            <label for="nombre">Nombre:</label>
            <br><input type="text" name="nombre" id="nombre" 
            placeholder="Nombre" required maxlength="30">
            </p>
        <p><br>
            <label for="apellido">Apellido:</label>
            <br><input type="text" name="apellido" id="apellido" 
            placeholder="Apellido" required maxlength="30">
        </p>
        <p><br>
            <label for="fechaNacimiento">Fecha Nacimiento:</label>
            <br><input type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="Fecha nacimiento" required>
        </p>
        <p><br>
            <label for="email">E-mail:</label>
            <br><input type="email" name="email" id="email" placeholder = "E-mail" required>
        </p>
        <p><br>
            <label for="telefono">Telefono:</label>
            <br><input type="tel" name="telefono" id="telefono" placeholder = "telefono" required>
        </p>
        <p><br>
            <label for="domicilio">Domicilio:</label>
            <br><input type="text" name="domicilio" id="domicilio" placeholder = "Domicilio" value: maxlength="100"
            required>
        </p>
        <p><br>
            <label for="ciudad">Ciudad:</label>
            <br><input type="text" name="ciudad" id="ciudad" value: maxlength="30"   placeholder = "Ciudad" 
            required>
        </p>
        <p><br>
            <label for="pais">Pais:</label>
            <br><input type="text" name="pais" id="pais" placeholder = "Pais" required>
        </p>
    </div>
   <div class="NEregister">
        <br>
        <label for="/necEspecifica">Marcá <br>la o las necesidades especificas 
            <br><strong>que necesitas<br>
            para tener en cuenta</label></strong>

        <div class="checkboxNEregister">
        <p><input type="checkbox" name="necEspecifica" value="Moto">motriz</p>
        <p><input type="checkbox" name="necEspecifica" value="Ver">visual</p>
        <p><input type="checkbox" name="necEspecifica" value="oir">auditiva</p>
        <p><input type="checkbox" name="necEspecifica" value="senso">sensorial</p>
        <p><input type="checkbox" name="necEspecifica" value="lect">cognitiva</p>
        </div>
    </div> 
    <div class="escribinos">        <p>
           <br>
        <label for="accesibiidad">Escribí aca <br>si hay detalles de <strong>accesibilidad especifica</strong> <br>que necesites</label>
        <textarea name="accesibiidad" id="accesibiidad" class="accesibiidad" cols="30" rows="10"></textarea>
        </p>
    </div>
    <div class="creaTuContrasenia">
        <p><br>
            <label for="password" class="password">Crea tu Contraseña:</label><br>
            <input type="password" name="password" id="password" value="" placeholder="Contraseña" maxlength="30"
                autocomplete="current-password" pattern="[A-Za-z0-9@#$%!]{8,20}" 
                title="Una contraseña letra mayúscula o minúscula, o un dígito. 
                La contraseña debe empezar con una letra y contener al menos un dígito" required readonly>
            <br>
                <input type="password" name="password" id="passwordC" value="" placeholder="Confirmar Contraseña"
                autocomplete="current-password" required>
        </p>
    </div>     
</section> 
<section class="politicasDeReserva">
    <p>Lee<a href=".politicasReserva.html"><strong>aqui</strong></a>nuestra política de reserva</p>
    <br>
    <p><input type="checkbox" name="aceptaPolitica"  id="aceptaPolitica" value="acepta" required> Acepto <br>la política y el reglamento para esta reserva</p>

</section>

    <section class="restaurar">
    <input type="reset" value="Restaurar formulario">
    </section>  

    <section class="botonEnviar">
           <button type="submit" id="submit">Enviar</button> <div #"reservaPaso2"></div>
       
        </section>    
 
</form>
</div> 
<!--Pie Pagina  -->
<footer>
    <div class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <h2>CONTACTO</h2>
                <p>+54 3755-000000</p>
                <p>reservas@hotelmocona.com.ar</p>
                <p>RP N°2 km 35</p>
            </div>
            <div class="box">
                <h2>MENU</h2>
                <p><a href="/" class="nav-link">Inicio</a></p>
                <p><a href="/habitaciones" class="nav-link">Habitaciones</a></p>
                <p><a href="/servicios" class="nav-link">Servicios</a></p>
                <p><a href="/turismo_accesible" class="nav-link">Turismo Accesible</a></p>
                <p><a href="/galeria" class="nav-link">Galeria</a></p>

            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2022 <b>Hotel Mocona </b> - Todos los Derechos Reservados.</small>
        </div>
    </div>
    </div>

</footer>
</body>
</html>