<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
</head>
<body>
    <form action="/" method="post">
        <p><br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        </p>
        <p><br>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
        </p>
        <p><br>
            <label for="fechaNacimiento">Fecha Nacimiento:</label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="Fecha nacimiento">
        </p>
        <p><br>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder = "E-mail"
            >
        </p>
        <p><br>
            <label for="telefono">Telefono:</label>
            <input type="tel" name="telefono" id="telefono" placeholder = "telefono"
            >
        </p>
        <p><br>
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" placeholder = "Domicilio" value: maxlength="100"
            >
        </p>
        <p>
            <label for="ciudad">Ciudad:</label>
            <input type="text" name="ciudad" id="ciudad" value: maxlength="30"   placeholder = "Ciudad" 
            >
        </p>
        <p>
            <label for="pais">Pais:</label>
            <input type="text" name="pais" id="pais" placeholder = "Pais">
        </p>
    <div>
        <form action="/necEspecifica" method="get" ></form>
        <label for="/necEspecifica">Selecciona que accesibiidad necesitas que tengamos en cuenta</label>
        <p><input type="checkbox" name="necEspecifica" id="NE"> </p>
        <p><input type="checkbox" name="necEspecifica" value="Moto"><motriz</p>
        <p><input type="checkbox" name="necEspecifica" value="Ver">visual</p>
        <p><input type="checkbox" name="necEspecifica" value="oir">auditiva</p>
        <p><input type="checkbox" name="necEspecifica" value="senso">sensorial</p>
        <p><input type="checkbox" name="necEspecifica" value="lect">cognitiva</p>
        </select> -->
    </div> 
    
</body>
</html>