<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos de tu reserva</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

</head>
<body>
    // la perdona lee cómo quedo su reserva
    //elije un metodo de pago
    //adjuntar comprobante si es transferencia
    // seleccionar desplegable con pasos de ML 
    // marca aceptar a terminos y condiciones

    // lo envia al paso 3 de reserva 

</body>
</html>