nav  ul.nav-header {

    list-style: none;
    padding: 0;
    margin: 0;
    background: #C6BAA6;
    line-height: 30px;
    overflow: auto;
    
}

nav ul.nav-header li {

    width: 200px;
    text-align: center;
    line-height: 50px;
    float: left;
   
}

a {

    text-decoration: none;
    color: #000;
    font-weight: 700;
    
    
    
}
/*Efecto del mouse sobre menu */
.nav-link:hover{
    background-color: #f9a91a; 
    color: #000;

}
@media only screen and (min-width:320px) and (max-width:768px){
	.nav-link{
		flex-wrap: wrap;
        
	}
	
}