*{
        margin: 0.5px;
        padding: 1px;
        box-sizing: border-box;
}

body
{
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   background-color:#865B4C;
} 

main section.presentation{
    width:  100vw;
    margin: 15px;
}
main div.principal-container{
    width:  100vw;
    background-color:#865B4C;
    display: flex;
    justify-content: flex-start;
    align-items: stretch; 
    flex-wrap: nowrap;
}

main div.img{
    display: flex;
}

main div.tittle{
    color: #F0EAD7;
    text-align:center;
}

h1{
    font-size: 18px;

}

p{
    text-align: left;
    font-size: 24px;
}

